einops
flit
h5py
joblib
joblib
jupyterlab
librosa
matplotlib
numpy
onnxruntime
openpyxl # for saving results to excel
pandas
pesq
pre-commit
pystoi
pyyaml
scipy
soundfile
tabulate
toml
torchinfo
tqdm
